@import './mixins.scss';

.actions {
  display: flex;
  align-items: center;
  margin: 2.25rem 1.5rem 2rem;

  .invoices {
    margin-right: auto;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -0.04688rem;
      color: var(--deep-space-blue);
    }

    p {
      @include font-2;
      color: var(--midnight-blue);
    }
  }

  .filter,
  .show_filter {
    @include font-1;
    color: var(--deep-space-blue);
    margin-right: 1.16rem;
    position: relative;

    img {
      margin-left: 0.5rem;
    }
  }

  .show_filter img {
    transform: rotate(180deg);
  }

  .new_invoice {
    @include font-1;
    width: 5.625rem;
    height: 2.75rem;
    border-radius: 1.5rem;
    background-color: var(--highlight-purple);
    display: flex;
    align-items: center;
    color: #fff;

    div {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.37rem;
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .actions {
    margin: 3.88rem 3rem;

    .invoices {
      h2 {
        font-size: 2.25rem;
        letter-spacing: -0.07031rem;
      }

      p {
        margin-top: 0.38rem;
      }
    }

    .filter,
    .show_filter {
      margin-right: 2.53rem;

      img {
        margin-left: 0.88rem;
      }
    }

    .new_invoice {
      @include font-1;
      width: 9.375rem;
      height: 3rem;

      div {
        margin-left: 0.5rem;
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  .actions {
    margin: 4.81rem auto 4rem;
    width: 45.625rem;
  }
}
