.edit_invoice {
  position: absolute;
  top: 4.5rem;
  left: -50rem;
  background-color: var(--neutral-light-alt2);
  width: 100vw;
  transition: transform 0.3s ease;

  .go_back {
    margin: 2rem 1.5rem;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 0.9375rem;
    letter-spacing: -0.01563rem;
    color: var(--deep-space-blue);

    img {
      margin-right: 1.48rem;
    }
  }

  .edit_id {
    margin: 1.62rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.03125rem;
    color: var(--deep-space-blue);

    span {
      color: var(--invoice-edit);
    }
  }
}

@media (min-width: 768px) {
  .edit_invoice {
    overflow-y: scroll;
    top: 5rem;
    width: 38.5rem;
    height: 59rem;
    border-radius: 0 1.25rem 1.25rem 0;

    .go_back {
      display: none;
    }

    .edit_id {
      margin: 3.69rem 3.5rem 2.87rem;
    }
  }

  .edit_invoice_outside_background {
    background-color: #000;
    width: 100vw;
    height: 59rem;
    position: absolute;
    top: 5rem;
    left: 0;
    transition: opacity 0.3s ease;
  }
}

@media (min-width: 1000px) {
  .edit_invoice {
    top: 0;
    width: 44.9375rem;
    height: 100%;

    .edit_id {
      margin: 3.69rem 9.94rem 2.87rem;
    }
  }

  .edit_invoice_outside_background {
    height: 100%;
    top: 0;
  }
}
