.header {
  display: flex;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  background-color: var(--neutral-dark-alt);

  .logo {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #7c5dfa;
    border-radius: 0 1.25rem 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-right: auto;

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: #9277ff;
      border-radius: 1.25rem 0 0 1.25rem;
      position: absolute;
      top: 50%;
    }

    img {
      z-index: 5;
    }
  }

  .theme_switch {
    margin-right: 1.5rem;
  }

  .avatar {
    height: 100%;
    width: 5rem;
    border-left: 1px solid #494e6e;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }
  }
}

@media (min-width: 768px) {
  .header {
    height: 5rem;

    .logo {
      height: 5rem;
      width: 5rem;
    }

    .theme_switch {
      margin-right: 2rem;
    }

    .avatar {
      width: 6rem;
    }
  }
}

@media (min-width: 1000px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 6.4375rem;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 1.25rem 1.25rem 0;

    .logo {
      height: 6.4375rem;
      width: 6.4375rem;
      margin-bottom: auto;

      img {
        height: 2rem;
        width: 2rem;
      }
    }

    .theme_switch {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    .avatar {
      height: 6.4375rem;
      width: 100%;
      border-left: none;
      border-top: 1px solid #494e6e;

      img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}
