@import './mixins.scss';

.items {
  list-style: none;

  li {
    @include font-1;
    color: var(--deep-space-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;

    div p {
      &:last-child {
        color: var(--royal-blue-alt);
        margin-top: 0.5rem;
      }
    }
  }
}
