:root {
  --deep-space-blue: #ffffff;
  --midnight-blue: #dfe3fa;
  --indigo-blue: #ffffff;
  --royal-blue: #dfe3fa;
  --royal-blue-alt: #888eb0;
  --neutral-dark: #dfe3fa;
  --neutral-dark-alt: #1e2139;
  --silver-gray: #141625;
  --platinum-gray: #252945;
  --sky-blue: #252945;
  --neutral-light-alt: #1e2139;
  --neutral-light-alt2: #141625;
}
