:root {
  --deep-space-blue: #ffffff;
  --midnight-blue: #dfe3fa;
  --indigo-blue: #ffffff;
  --royal-blue: #dfe3fa;
  --royal-blue-alt: #888eb0;
  --neutral-dark: #dfe3fa;
  --neutral-dark-alt: #1e2139;
  --silver-gray: #141625;
  --platinum-gray: #252945;
  --sky-blue: #252945;
  --neutral-light-alt: #1e2139;
  --neutral-light-alt2: #141625;
  --draft-status-bg: rgba(223, 227, 250, 0.0571);
  --filter-color: #ffffff;
  --filter-bg: #252945;
  --filter-checkbox: #1e2139;
  --filter-box-shadow: rgba(0, 0, 0, 0.25);
  --status: #dfe3fa;
  --invoice-grand-total: #0c0e16;
  --invoice-edit: #777f98;
  --datepicker: #dfe3fa;
  --hover-edit-btn-bg: #fff;
  --hover-draft-btn-bg: #1e2139;
}
