:root {
  --deep-space-blue: #0c0e16;
  --midnight-blue: #888eb0;
  --indigo-blue: #858bb2;
  --royal-blue: #7e88c3;
  --royal-blue-alt: #7e88c3;
  --neutral-dark: #373b53;
  --neutral-dark-alt: #373b53;
  --silver-gray: #f8f8fb;
  --platinum-gray: #f9fafe;
  --sky-blue: #dfe3fa;
  --neutral-light-alt: #ffffff;
  --neutral-light-alt2: #ffffff;
}
