:root {
  --deep-space-blue: #0c0e16;
  --midnight-blue: #888eb0;
  --indigo-blue: #858bb2;
  --royal-blue: #7e88c3;
  --royal-blue-alt: #7e88c3;
  --neutral-dark: #373b53;
  --neutral-dark-alt: #373b53;
  --silver-gray: #f8f8fb;
  --platinum-gray: #f9fafe;
  --sky-blue: #dfe3fa;
  --neutral-light-alt: #ffffff;
  --neutral-light-alt2: #ffffff;
  --draft-status-bg: rgba(55, 59, 83, 0.0571);
  --filter-color: #1e2139;
  --filter-bg: #ffffff;
  --filter-checkbox: #dfe3fa;
  --filter-box-shadow: rgba(72, 84, 159, 0.25);
  --status: #858bb2;
  --invoice-grand-total: #373b53;
  --invoice-edit: #888eb0;
  --datepicker: #0c0e16;
}
