@import '../mixins.scss';

.form {
  p {
    @include font-1;
    color: var(--highlight-purple);
    margin-left: 1.5rem;
  }

  .sender,
  .client {
    margin: 1.5rem 1.5rem 2.56rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.56rem 1.44rem;

    div {
      margin-bottom: 0;
      &:first-child {
        grid-column: 1 / 3;
      }
    }
  }

  .sender div {
    &:nth-child(4) {
      grid-column: 1 / 3;
    }
  }

  .client div {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      grid-column: 1 / 3;
    }
  }

  .date {
    margin: 0 1.5rem 4.31rem;

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.56rem;

      label {
        @include font-2;
        color: var(--royal-blue-alt);
        margin-bottom: 0.56rem;

        &.disabled {
          opacity: 0.5;
        }
      }

      input {
        @include font-1;
        color: var(--deep-space-blue);
        height: 3rem;
        width: 100%;
        padding: 0 1.25rem;
        border: 1px solid var(--sky-blue);
        border-radius: 0.25rem;
        background-color: var(--neutral-light-alt);
      }
    }

    .datepicker {
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }
    }
  }

  .item_list {
    margin: 0 1.5rem 1.5rem;

    p {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 2rem;
      letter-spacing: -0.02344rem;
      color: #777f98;
      margin-bottom: 1.37rem;
      margin-left: 0;
    }

    button {
      @include font-1;
      border: none;
      border-radius: 1.5rem;
      height: 3rem;
      width: 100%;
      background-color: var(--platinum-gray);
      color: var(--royal-blue-alt);
    }
  }

  .spacer {
    height: 4rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    transition: opacity 0.3s ease;
  }

  .actions {
    padding: 1.34rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);

    button {
      @include font-1;
      border: none;
      border-radius: 1.5rem;
      height: 3rem;

      &.cancel_btn {
        background-color: var(--platinum-gray);
        color: var(--royal-blue);
        margin-right: 0.4rem;
      }

      &.draft_btn {
        background-color: #373b53;
        color: var(--midnight-blue);
        width: 7.3125rem;
        margin-right: 0.4rem;
      }

      &.submit_btn {
        background-color: var(--highlight-purple);
        color: var(--neutral-light);
      }
    }
  }

  .error_messages {
    list-style: none;
    margin: 2rem 1.5rem 1rem;

    li {
      color: var(--alert-red);
      @include font-2;
    }
  }
}

@media (min-width: 768px) {
  .form {
    position: relative;

    p {
      margin-left: 3.5rem;
    }

    .sender,
    .client {
      margin: 1.5rem 3.5rem 3.06rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.56rem 1.5rem;

      div {
        &:first-child {
          grid-column: 1 / 4;
        }
      }
    }

    .sender div {
      &:nth-child(4) {
        grid-column: 3 / 4;
      }
    }

    .client div {
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: 1 / 4;
      }

      &:nth-child(6) {
        grid-column: 3 / 4;
      }
    }

    .date {
      margin: 0 3.5rem 1.69rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.56rem 1.5rem;

      .field {
        margin-bottom: 0;
      }

      & > div {
        &:last-child {
          grid-column: 1 / 3;
        }
      }
    }

    .item_list {
      margin: 0 3.5rem 0.94rem;

      p {
        margin-bottom: 0.88rem;
      }
    }

    .shadow {
      position: sticky;
      bottom: 7rem;
      height: 0;
      width: 100%;
      box-shadow: 0px 10px 80px 20px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease;
    }

    .actions {
      padding: 2rem 3.5rem;
      position: sticky;
      bottom: 0;
      background-color: var(--neutral-light-alt2);
      border-radius: 0 1.25rem 1.25rem 0;
      z-index: 5;
    }
  }
}
